<!DOCTYPE html>
<html>

<head>
  <title>Eco-route-planner</title>
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<body class="container">

  <div>
    <form action="/" method="GET">
      <h2>
        Orign Location
      </h2>
  </div>
  <div id="locationField">

    <input id="originautocomplete" type="text" name="start" placeholder="Enter your start location "> </input>
  </div>

  <div>
    <h2>
      Destination Location
    </h2>
  </div>
  <div id="locationField">
    <input id="destinationautocomplete" type="text" name="destination"
      placeholder="Enter your destination location "></input>
  </div>
  <br>
  <div>
    <button class="btn btn-success" type="submit">Find travel distance</button>

  </div>
  </form>
  <br>
  <div>
    <strong>Recommended Route Total Distance</strong>
  </div>
  <div id="outputRecommended"></div>
  <div>
    <strong>Total Distance</strong>  
  </div>
  <div>
    <h1>Destination Address: <%= mapData.destination_addresses[0] %></h1>
    <h1>Origin Address: <%= mapData.origin_addresses[0] %></h1>
    <h1>Driving Distance: <%= mapData.rows[0].elements[0].distance.text %></h1>
    <h1>Driving Duration: <%= mapData.rows[0].elements[0].duration.text %></h1>

    <h1>Walking Distance: <%= walkingData.rows[0].elements[0].distance.text %></h1>
    <h1>Walking Duration: <%= walkingData.rows[0].elements[0].duration.text %></h1>

    <h1>Biking Distance: <%= bikingData.rows[0].elements[0].distance.text %></h1>
    <h1>Biking Duration: <%= bikingData.rows[0].elements[0].duration.text %></h1>

    <h1>Transit Distance: <%= transitData.rows[0].elements[0].distance.text %></h1>
    <h1>Transit Duration: <%= transitData.rows[0].elements[0].duration.text %></h1>

  </div>


</body>

</html>